### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_path)

## Player Count

* Display the total number of players

In [5]:
#calculate total number of players
total_players = purchase_data["SN"].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
print("### Player Count")
print("Total Number of Players :" + str(total_players))
playerscount = pd.DataFrame({"Total Players":[total_players]})
playerscount

### Player Count
Total Number of Players :576

   Total Players
0            576

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

179


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
average_price = purchase_data["Price"].mean()
average_price
average_pricea1 =np.round(average_price,2)
average_pricea1

3.05

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [30]:
total_purchase= purchase_data["SN"].count()
total_purchase

780

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
total_revenue= purchase_data["Price"].sum()
total_revenue

2379.77

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
newpurchtable= pd.DataFrame({"Number of Unique Items" :[unique_items], "Average Price": [average_pricea1], "Number of Purchases" :[total_purchase], "Total Revenue" :[total_revenue]})
newpurchtable.style.format({"Average Price":"${:.2f}", "Total Revenue":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
#percentage of female and male players
#percentage of other

all_players=purchase_data.loc[purchase_data["Gender"] =="Male"]
male_players = len(all_players)
male_players

652

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [48]:
all_players=purchase_data.loc[purchase_data["Gender"] =="Female"]
female_players = len(all_players)
female_players

113

In [50]:
all_players=purchase_data.loc[purchase_data["Gender"] =="Other / Non-Disclosed"]
other_players = len(all_players)
other_players

15

In [53]:
male_player_perc = male_players / total_players * 100
male_player_perc

113.19444444444444

In [54]:
female_player_perc = female_players / total_players * 100
female_player_perc

19.618055555555554

In [55]:
other_player_perc = other_players / total_players * 100
other_player_perc

2.604166666666667

In [59]:
gender_data = pd.DataFrame({
        "Percentage of Players":[male_player_perc,female_player_perc,other_player_perc],
    "Total Count":[male_players,female_players,other_players],
                  "Category":["Male", "Female", "Other/Non-Disclosed"]
}).round(2)
gender_data_arrange =gender_data.set_index("Category")
gender_data_arrange.head()

                     Percentage of Players  Total Count
Category
Male                                113.19          652
Female                               19.62          113
Other/Non-Disclosed                   2.60           15

In [64]:
#broken down by gender
avg_pp = purchase_data.loc[purchase_data["Gender"] == "Female"]
avg_pp_female = avg_pp["Price"].mean()
total_pur_female = avg_pp["Price"].sum()
avg_pp_female

3.203008849557519

In [70]:
avg_pp = purchase_data.loc[purchase_data["Gender"] == "Male"]
avg_pp_male = avg_pp["Price"].mean()
total_pur_male =avg_pp["Price"].sum()
avg_pp_male
total_pur_male

1967.64

In [71]:
avg_pp=purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]
avg_pp_others = avg_pp["Price"].mean()
total_pur_others =avg_pp["Price"].sum()
avg_pp_others

3.3460000000000005

In [77]:
pur_analysis_ongender = pd.DataFrame({"Purchase Count" :[male_players,female_players,other_players],
                                      "Average Purchase Price" :[avg_pp_male, avg_pp_female, avg_pp_others],
                                      "Total Purchase Value" : [total_pur_male, total_pur_female, total_pur_others],
                                      "Avg Purchase Total Per Person" : [total_pur_male/male_players,total_pur_female/female_players,total_pur_others/other_players],
                                       "Category":["Male", "Female", "Other/Non-Disclosed"]
                                      }).round(2)
pur_analysis_ongender_arr=pur_analysis_ongender.set_index("Category")
pur_analysis_ongender = pur_analysis_ongender[["Purchase Count", "Average Purchase Price","Total Purchase Value","Avg Purchase Total Per Person"]]
pur_analysis_ongender_arr.style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}","Avg Purchase Total Per Person":"${:.2f}"})

In [78]:
# age demographics
purchase_data.dtypes

newint_age = purchase_data["Age"].astype(str).astype(int)
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [82]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age_binning"] = pd.cut(purchase_data["Age"],age_bins, labels = group_names)
purchase_data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_binning
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [84]:
# Create a GroupBy object based upon "View Group"
agebingrp = purchase_data.groupby("Age_binning")
#Find how many rows fall into each bin
totplayercalc = agebingrp["Age"].count()
# Calculation for % of players
perct = totplayercalc / 576 * 100
age_demodf = pd.DataFrame({"Percentage of Players" :perct,"Total Count" :totplayercalc }).round(2)
age_demodf.head()
#agedemo = purchase_data.groupby("Age_binning")
age_demos1 = age_demodf.reindex(columns=["Percentage of Players","Total Count"])
age_demos1

             Percentage of Players  Total Count
Age_binning
<10                           3.99           23
10-14                         4.86           28
15-19                        23.61          136
20-24                        63.37          365
25-29                        17.53          101
30-34                        12.67           73
35-39                         7.12           41
40+                           2.26           13

In [89]:
# Top Spenders
sngrp = purchase_data.groupby("SN")
#sngrp
itemidct = sngrp["Price"].count()
avgpp= sngrp["Price"].mean()
totpv = sngrp["Price"].sum()
#totpv
newspenderdf = pd.DataFrame({
                            "Purchase Count" :itemidct,
                            "Average Purchase Price" :avgpp,
                            "Total Purchase Value" : totpv}).round(2)
newspenderdf=newspenderdf.sort_values(by ="Total Purchase Value", ascending = False)
newspenderdf = newspenderdf.reindex(columns=["Purchase Count","Average Purchase Price","Total Purchase Value"])
newspenderdf.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value": "${:.2f}"})
newspenderdf.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [ ]:
#Most Popular Items

# Identify the 5 most popular items by purchase count, then list
sngrp1 = newfile.groupby(["Item ID","Item Name"])

itemid1 = sngrp1["Item Name"].unique
itemidct1 = sngrp1["Price"].count()
avgpp1= sngrp1["Price"].unique()
totpv1 = sngrp1["Price"].sum()
#totpv
popularitems = pd.DataFrame({"Purchase Count" :itemidct1,
                            "Item Price" :avgpp1,
                            "Total Purchase Value" : totpv1}).round(2)
popularitems=popularitems.sort_values(["Purchase Count","Total Purchase Value"], ascending = False)
popularitems = popularitems.reindex(columns=["Purchase Count","Item Price","Total Purchase Value"])
popularitems.head()